<section class="disqus">
  <ul class="navbar-nav ml-auto">

    <li class="nav-item">
      <a class="nav-link" href="https://ar.staleblock.com/">AR</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="https://es.staleblock.com/">ES</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="https://hi.staleblock.com/">HI</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="https://ms.staleblock.com/">MS</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="https://ru.staleblock.com/">RU</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="https://zh.staleblock.com/">ZH</a>
    </li>

  </ul>
</section>
